.header{

	background-image: url('../images/home-bg.jpg');
}
.logo a {
    color: #ff0000;
    text-align: center;
    padding: 7px 0;
    display: block;
    font-size: 22px;
}
.nav li a{
	color: #ffffff;
}
.header-content{
	text-align: center;
    padding: 5% 0 10%;
}
.hr{
	width: 75px;
	height: 2px;
	background-color: #ffffff;
	margin: 5px auto;
}